body {
  color: #111;
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 5rem;
}

.container > span {
  animation: glow 1s ease-in-out infinite;
  -webkit-animation: glow 1s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    color: #fff;
    text-shadow: 0 0 12px rgb(255, 27, 240), 0 0 50px rgb(255, 27, 240), 0 0 100px rgb(255, 27, 240);
  }

  10%,
  90% {
    color: #111;
    text-shadow: none;
  }
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 450px) {
  .container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
